@import "tailwindcss";

:root {
  --background: #0a0708;
  --foreground: #fcf8f8;
  --card: #0d0a0b;
  --card-foreground: #fcf8f8;
  --popover: #0d0a0b;
  --popover-foreground: #fcf8f8;
  --primary: #ff1f62;
  --primary-foreground: #1a0409;
  --secondary: #ff4d7c;
  --secondary-foreground: #fff0f5;
  --muted: #262023;
  --muted-foreground: #a39499;
  --accent: #212121;
  --accent-foreground: #f2f2f2;
  --destructive: #7f1d2d;
  --destructive-foreground: #fafafa;
  --border: #261f22;
  --input: #261f22;
  --ring: #ff1f62;
  --chart-1: #cc3366;
  --chart-2: #b82e5c;
  --chart-3: #cc5252;
  --chart-4: #52cc99;
  --chart-5: #66d9a6;
}

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }
}
